<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="static/about.css">
</head>
<body>
    <div class="head">
        <h1>About Us</h1>
        <hr>
    </div>

    <div class="row">
        <div class="div-left">
            <h2>Our Mission</h2>
            <p>The primary objective of this website is to enhance the dissemination of agricultural knowledge, thereby empowering users with the information necessary for informed decision-making. It will feature a wide array of topics, including crop cultivation techniques, pest management, soil health, and sustainable farming practices. By integrating user-generated content, the platform will encourage community participation, allowing farmers and experts to share their experiences and insights. 
 
                In addition to educational content, the website will also include tools for tracking agricultural trends, market prices, and weather updates, which are crucial for effective farming. The goal is to create a user-friendly interface that simplifies navigation and enhances the user experience, making agricultural knowledge accessible to all. 
                </p>
        </div>

        <div class="div-right">
            <img src="static/Stock_about/logo.png">
        </div>
    </div>

    <div class="tab">
        <h2>Our Services</h2>
        <div class="col-1">
            <a href="/test">
            <div class="item">
                <img src="static/Stock_about/images.png">
                <p>Soil Testing Lab</p>
            </div>
            </a>
            <a href="/test">
            <div class="item">
                <img src="static/Stock_about/pathology.jpg">
                <p> Plant Pathology Lab</p>
            </div>
            </a>
            <a href="/test">
            <div class="item">
                <img src="static/Stock_about/download.jpg">
                <p>Entomology Lab</p>
            </div>
            </a>
        </div>

        <div class="col-2">
            <a href="/test">
            <div class="item">
                <img src="static/Stock_about/horticulture.jpg">
                <p>Horticulture Lab</p>
            </div>
            </a>
            <a href="/test">
            <div class="item">
                <img src="static/Stock_about/tissue.jpg">
                <p>Plant Tissue Culture</p>
            </div>
            </a>
            <a href="/test">
            <div class="item">
                <img src="static/Stock_about/micro.jpg">
                <p>Microbiology Lab</p>
            </div>
            </a>
        </div>
    </div>

    <div class="copyright">
        <p>Made by Earthly Endevours. Copyright to <i class="fa-brands fa-youtube"></i> Giet University</p>
    </div>
</body>
</html>