<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Earthly Endavour</title>
    <link rel="stylesheet" href="static/contact.css">
    <script src="https://kit.fontawesome.com/878c11fd9d.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="heading">
        <div class="heads">
            <h1>Contact Us</h1>
        </div>
        <div class="line">
            <p class="l">Cultivating Healthier Soil, Growing Stronger Plants</p>
            <p>Contacting a lab that specializes in soil quality and plant disease testing is vital for optimizing agriculture. These labs offer insights into soil health, guiding fertilization and crop management decisions. Timely disease diagnosis helps reduce losses and improve plant resilience. By utilizing expert analysis, farmers can boost productivity and promote sustainable practices, contributing to food security and environmental health.</p>
        </div>
        <br>
        <br>
    </div>
<br>
<br>
<br>
        <div class="row">
            <div class="left-div">
                <div class="map">
                    <iframe width="900" height="450"src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3771.37328420849!2d83.8264443383928!3d19.047318613579318!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a3c96658f8652ad%3A0x7dafcb1b8586f019!2sGIET%20University!5e0!3m2!1sen!2sin!4v1727428391680!5m2!1sen!2sin"loading="lazy"></iframe>
                </div>
            </div>

            <div class="right-div">
                <div class="t1">
                    <h3>Address</h3>
                </div>
                <div class="t2">
                    <div class="a1">
                        <p>GIET University is located in Gunupur, a town in the Rayagada district of Odisha, India</p>
                        <p>GIET University</p>
                        <p>Gunupur,</p>
                        <p>Rayagada District,</p>
                        <p>Odisha State,</p>
                        <p>Postal Code: 765022,</p>
                    </div>
                </div>
        </div>     
        </div>

    <br>
    <br>
<!-- footer -->
    <div id="contact">
        <div class="container">
            <div class="row">
                <div class="contact-left">
                    <h1 class="sub-title">Contact me</h1>
                    <p><i class="fa-solid fa-envelope"></i> info_earthlyendevour@gmail.com</p>
                    <p><i class="fa-brands fa-whatsapp"></i> 9876543210</p>
                    <div class="social-icons">
                        <a href="https://www.instagram.com/freaky_fit_69?igsh=MTFxa3Y0eTV2aXd3Zg=="><i class="fa-brands fa-square-instagram"></i></a>
                        <a href="https://www.linkedin.com/public-profile/settings?trk=d_flagship3_profile_self_view_public_profile"><i class="fa-brands fa-linkedin"></i></a>
                        <a href="https://github.com/Saurabh21Y"><i class="fa-brands fa-square-github"></i></a>
                    </div>

                </div>
                <div class="contact-right">
                    <form action="/contact" method="post">
                        <input type="text" name="name" placeholder="Your Name" required>
                        <input type="email" name="email" placeholder="Your Email" required>
                        <textarea name="message" rows="6" placeholder="Your Message/Query"></textarea>
                        <button type="submit" class="btn btn2">Submit</button>
                        <script>alert("{{message}}")</script>
                    </form>
                    <span id="msg"></span>
                </div>
            </div>
        </div>
        <div class="copyright">
            <p>Made by Earthly Endevours. Copyright to <i class="fa-brands fa-youtube"></i> Giet University</p>
        </div>
    </div>
</body>
</html>