<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Earthly Endavour</title>
    <link rel="stylesheet" href="static/kharif.css">
</head>
<body>
    <!-- Navbar -->
    <div id="header">
        <div class="container">
            <nav>
                <img src="static/Stock_kharif/logo.png" class="logo">
                <ul id="sidemenu">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/about">Services</a></li>
                    <li><a href="/">Crops</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <!-- Main Body -->
    <div id="list">
        <div class="container">
            <!-- 1 -->
            <div class="option">
                <div class="img">
                    <img src="static/Stock_kharif/rice.jpeg" alt="first img" class="imgg">
                </div>
                <div class="text">
                    <ul>
                        <li><h3>Rice</h3></li>
                        <li><p>Primarily grown in the Kharif season (June to September), rice prefers clayey or loamy soils with good water retention and a pH of around 6.0 to 7.0, taking approximately 120 to 150 days from sowing to harvest.</p></li>
                    </ul>
                </div>
            </div>
            <!-- 2 -->
            <div class="option">
                <div class="text">
                    <ul>
                        <li><h3>Maize</h3></li>
                        <li><p>Sown from March to June, maize thrives in well-drained, fertile soils with a pH of 5.8 to 7.0 and typically takes about 90 to 120 days for cultivation.</p></li>
                    </ul>
                </div>
                <div class="img">
                    <img src="static/Stock_kharif/maize.jpeg" alt="first img" class="imgg">
                </div>
            </div>
            <!-- 3 -->
            <div class="option">
                <div class="img">
                    <img src="static/Stock_kharif/millet.jpeg" alt="first img" class="imgg">
                </div>
                <div class="text">
                    <ul>
                        <li><h3>Millet</h3></li>
                        <li><p>Grown mainly in the Kharif season (June to September), millets prefer well-drained sandy or loamy soils and require around 70 to 90 days for maturity, making them drought-resistant crops ideal for arid regions.</p></li>
                    </ul>
                </div>
            </div>
            <!-- 4 -->
            <div class="option">
                <div class="text">
                    <ul>
                        <li><h3>Ragi</h3></li>
                        <li><p>Typically sown during the Kharif season (June), ragi grows best in dry, well-drained soils with a pH of around 6.0 and takes about 90 to 150 days for cultivation.</p></li>
                    </ul>
                </div>
                <div class="img">
                    <img src="static/Stock_kharif/rahi.jpeg" alt="first img" class="imgg">
                </div>
            </div>
            <!-- 5 -->
            <div class="option">
                <div class="img">
                    <img src="static/Stock_kharif/gram.jpeg" alt="first img" class="imgg">
                </div>
                <div class="text">
                    <ul>
                        <li><h3>Pulse</h3></li>
                        <li><p>Generally grown in the Rabi season (October), pulses prefer well-drained soils with a pH of around 6.0 and take approximately 90 to 120 days from sowing.</p></li>
                    </ul>
                </div>
            </div>
            <!-- 6 -->
            <div class="option">
                <div class="text">
                    <ul>
                        <li><h3>Ground Nuts</h3></li>
                        <li><p>Best planted in the Kharif season (May), groundnuts thrive in sandy loam soils with good drainage and require about 120 to 150 days for full growth.</p></li>
                    </ul>
                </div>
                <div class="img">
                    <img src="static/Stock_kharif/nuts.jpeg" alt="first img" class="imgg">
                </div>
            </div>

        </div>
    </div>

    <!-- Footer -->
    <div class="copyright">
        <p>Made by Earthly Endevours. Copyright to <i class="fa-brands fa-youtube"></i> Giet University</p>
    </div>
</body>
</html>