<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Earthly Endavour</title>
    <link rel="stylesheet" href="static/rabi.css">
</head>
<body>
    <!-- Navbar -->
    <div id="header">
        <div class="container">
            <nav>
                <img src="static/Stock_rabi/logo.png" class="logo">
                <ul id="sidemenu">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/about">Services</a></li>
                    <li><a href="/">Crops</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <!-- Main Body -->
    <div id="list">
        <div class="container">
            <!-- 1 -->
            <div class="option">
                <div class="img">
                    <img src="static/Stock_rabi/wheat.jpg" alt="first img" class="imgg">
                </div>
                <div class="text">
                    <ul>
                        <li><h3>Wheat</h3></li>
                        <li><p>Grown in both Kharif (June to September) and Rabi (October to March) seasons. It prefers well-drained, loamy soils with a pH around 7. Wheat typically takes about 100 to 150 days to mature, depending on the variety and environmental conditions.</p></li>
                    </ul>
                </div>
            </div>
            <!-- 2 -->
            <div class="option">
                <div class="text">
                    <ul>
                        <li><h3>Barley</h3></li>
                        <li><p>Usually sown from April to June, barley thrives in well-drained, fertile soils with a pH of 6.8 to 7.5. The crop requires about 90 to 120 days from planting to harvest, making it a relatively quick-growing option.</p></li>
                    </ul>
                </div>
                <div class="img">
                    <img src="static/Stock_rabi/barley.jpg" alt="first img" class="imgg">
                </div>
            </div>
            <!-- 3 -->
            <div class="option">
                <div class="img">
                    <img src="static/Stock_rabi/pea.jpeg" alt="first img" class="imgg">
                </div>
                <div class="text">
                    <ul>
                        <li><h3>Peas</h3></li>
                        <li><p> Best planted in early spring or late summer, peas prefer loamy, well-drained soils with a pH of 6.0 to 7.5. They take approximately 60 to 70 days to mature, allowing for multiple harvests in a growing season.</p></li>
                    </ul>
                </div>
            </div>
            <!-- 4 -->
            <div class="option">
                <div class="text">
                    <ul>
                        <li><h3>Grams</h3></li>
                        <li><p>Typically grown in winter (October to November), they thrive in sandy loam to clay loam soils with a pH of 5.5 to 7.0 and require about 140 to 165 days for cultivation, making them suitable for cooler climates.</p></li>
                    </ul>
                </div>
                <div class="img">
                    <img src="static/Stock_rabi/gram.jpeg" alt="first img" class="imgg">
                </div>
            </div>
            <!-- 5 -->
            <div class="option">
                <div class="img">
                    <img src="static/Stock_rabi/mustard.jpeg" alt="first img" class="imgg">
                </div>
                <div class="text">
                    <ul>
                        <li><h3>Mustard</h3></li>
                        <li><p>Usually sown in the Rabi season (September to November), mustard prefers well-drained, loamy soils with a pH of 6.0 to 7.5 and takes about 90 to 120 days to mature.</p></li>
                    </ul>
                </div>
            </div>
            <!-- 6 -->
            <div class="option">
                <div class="text">
                    <ul>
                        <li><h3>Cotton</h3></li>
                        <li><p>Planted during the Kharif season (April to July) or Rabi season (September to October), cotton grows best in black cotton soil with a pH of 5.5 to 8.5 and requires about 160 to 180 days for full growth.</p></li>
                    </ul>
                </div>
                <div class="img">
                    <img src="static/Stock_rabi/cotton.jpeg" alt="first img" class="imgg">
                </div>
            </div>

        </div>
    </div>

    <!-- Footer -->
    <div class="copyright">
        <p>Made by Earthly Endevours. Copyright to <i class="fa-brands fa-youtube"></i> Giet University</p>
    </div>
</body>
</html>