<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Earthly Endavour</title>
    <link rel="stylesheet" href="static/zaid.css">
</head>
<body>
    <!-- Navbar -->
    <div id="header">
        <div class="container">
            <nav>
                <img src="static/Stock_zaid/logo.png" class="logo">
                <ul id="sidemenu">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/about">Services</a></li>
                    <li><a href="/">Crops</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <!-- Main Body -->
    <div id="list">
        <div class="container">
            <!-- 1 -->
            <div class="option">
                <div class="img">
                    <img src="static/Stock_zaid/cucumber.jpeg" alt="first img" class="imgg">
                </div>
                <div class="text">
                    <ul>
                        <li><h3>Cucumber</h3></li>
                        <li><p>Grown during the warm months (April to July), cucumbers prefer sandy loam soils rich in organic matter and take about 50 to 70 days from planting.</p></li>
                    </ul>
                </div>
            </div>
            <!-- 2 -->
            <div class="option">
                <div class="text">
                    <ul>
                        <li><h3>Pumpkin</h3></li>
                        <li><p>Typically sown from April to June, pumpkins thrive in rich, well-drained soils and take around 75 to 100 days for cultivation.</p></li>
                    </ul>
                </div>
                <div class="img">
                    <img src="static/Stock_zaid/pumpkin.jpeg" alt="first img" class="imgg">
                </div>
            </div>
            <!-- 3 -->
            <div class="option">
                <div class="img">
                    <img src="static/Stock_zaid/guard.jpeg" alt="first img" class="imgg">
                </div>
                <div class="text">
                    <ul>
                        <li><h3>Bitter Guard</h3></li>
                        <li><p>Best grown in warm climates from April to July, it prefers sandy loam soil with good drainage and takes about 60 to 70 days for maturity.</p></li>
                    </ul>
                </div>
            </div>
            <!-- 4 -->
            <div class="option">
                <div class="text">
                    <ul>
                        <li><h3>Tomato</h3></li>
                        <li><p> Grown year-round but primarily during warmer months (March to June), tomatoes prefer well-drained sandy or loamy soils and require about 60 to 85 days from sowing until harvest.</p></li>
                    </ul>
                </div>
                <div class="img">
                    <img src="static/Stock_zaid/totato.jpeg" alt="first img" class="imgg">
                </div>
            </div>

        </div>
    </div>

    <!-- Footer -->
    <div class="copyright">
        <p>Made by Earthly Endevours. Copyright to <i class="fa-brands fa-youtube"></i> Giet University</p>
    </div>
</body>
</html>